@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&display=swap');


/*화면크기가 1000px보다 작을 때*/
@media (max-width: 1000px) {
    .box-aside {
      display: none;
    }
    header h1 {
      position: absolute;
      top: 15px;
      left: 25px;
    }
    .bar-search {
      left: 110px;
    }
  }


  /* 화면크기가 800px보다 작을 때 */
  @media (max-width: 800px) {
    .bar-search input {
      width: 200px;
    }
  }


  /* 화면크기가 760px보다 작을 때 */
  @media (max-width: 760px) {
    .bar-search {
      display: none;
    }
    .list-nav {
      position: absolute;
      top: 15px;
      right: 25px;
    }
    header {
      height: 65px;
    }
  
  } 

  
  body {
    font-family: 'Gothic A1', sans-serif;

  }
  

  #yjlogo {
    text-align: center;
    /* 또는 30px로 값을 조정합니다 */
  }


  #yjlogoimage {
    position: absolute;
    top: 200px; /* 적절한 값으로 조정합니다 */
    width: 28px;
    right: 950px;
    height: 40px;
  }

#yj-text {
  position: relative;
  width: 500px;
  margin: 90px auto 0;
  font-style: #1d1d1d99;
  top: 120px;
  right:-50px;
}
  
#yj-text2 {
  position: relative;
  width: 500px;
  margin: 10px auto 0;
  font-style: #1d1d1d99;
  top: 105px;
  right:30px;

}


.main_body {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

#left_body {
  background-color: rgb(33, 144, 187);
  margin-right: 100px;
  width: 500px;
  height: 2000px;
  display: flex;
  flex-direction: column;
}

.right_body {
  background-color: rgb(136, 136, 20);
  width: 300px;
  height: 1000px;
  left: 72%;
  position: fixed
}

.feed_box {
  background-color: rgb(235, 49, 49);
  width: 480px;
  margin: 10px;
  height: 480px;
}

/* #borderfeed_box{

} */

/* #image {
  position:absolute; 
  top:130px; 
  width: 500px;
  right: 355px;
  
} */

#huku_img {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 430px;
  height: 330px;
}

.feed_content{
  padding: 10px;
}


.feed_txt{
  font-size: 15px;
  position: absolute;
  left: 50%;
  transform: translate(-55%, -50%);
  width: 430px;
  
}

/* .details{
  font-size: 15px;
  position: absolute;
  left: 57%;
  top :89%;
  transform: translate(-55%, -50%);
  width: 430px;
} */

